[Unit]
Description={{description}}
After=network.target

[Service]
ExecStart={{dotnetExecutablePath}} {{appExecutablePath}}
WorkingDirectory={{workingDirectory}}
Restart=on-failure
SyslogIdentifier=Infinni

[Install]
WantedBy=multi-user.target