[Unit]
Description={{description}}
After=network.target

[Service]
ExecStart={{dotnetExecutable}} {{binPath}}
WorkingDirectory={{workingDirectory}}
Restart=on-failure
SyslogIdentifier=Infinni

[Install]
WantedBy=multi-user.target